name: Build Laptop
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Build and test
        run: |
          echo "Building a laptop"
          mkdir build
          touch build/computer.txt
          echo "Mainboard" >> build/computer.txt
          cat build/computer.txt
          ls -l